<% total_cost = humanized_money_with_symbol @order.total_cents / 100.0 %>

<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p><b>Email:</b> <%= @order.email %></p>
    <p><b>Total:</b> <%= total_cost %></p>
  </div>

  <main>
    <%= render "products" %>
  </main>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
